.col-lg-2.left-menu
  .nav.nav-pills.nav-stacked
    label.btn(ng-model="vm.catOf" uib-btn-radio="''" uib-uncheckable="uncheckable")
        a(href="#") All
          span.badge 500
    label.btn(ng-repeat="cat in vm.cats" ng-model="vm.catOf" uib-btn-radio="{{cat.id}}" uib-uncheckable="uncheckable")
        a(href="#") {{cat.name}}
          span.badge 312
.filters-bar.col-lg-10
  label.btn(ng-model="vm.sortOf" uib-btn-radio="'rating'" uib-uncheckable="uncheckable") Rating
  label.btn(ng-model="vm.sortOf" uib-btn-radio="'time'" uib-uncheckable="uncheckable") Time

.content-box.col-lg-10
  .item-container.col-lg-4(ng-repeat="item in vm.recipes | orderBy: ( (vm.sortOf == 'time') ? '+' : '-') + vm.sortOf | filter: {category: vm.catOf}")
    .catalog-item
      a.catalog-item-name(href="{{'recipe/' + item.id}}") {{item.name}}
      ul.nav.catalog-item-info
        li.col-lg-5
          i.fa.fa-clock-o.fa-lg
          span.fa-lg {{item.time}}
        li.col-lg-7(ng-click="item.isCollapsed = !item.isCollapsed")
          i.fa.fa-list.fa-lg
          span.dotted.fa-lg Ingridients
    .panel-default(uib-collapse="!item.isCollapsed")
      .well
        .item-ing(ng-repeat="ing in item.ingredients")
          label.btn
            span {{vm.ings[ing-1].name}}