.row
  .col-lg-8.block
    span.settings-header Securutiy and privacy
    span.settings-description denied and access users
    hr.deviver
    form(name="security" ng-submit="$ctrl.saveChanges()")
      form(name="accessLevel")
        span.settings-section-header Access level
        span.form-name Profile access level
        .form-controls
          .btn-group.access-level-dropdown(uib-dropdown)
            .btn.btn-default.btn-access-level(uib-dropdown-toggle)
              span(ng-bind="$ctrl.accessLevel.items[$ctrl.user.available.profile] + ' '")
              span.caret
            ul.dropdown-menu(uib-dropdown-menu)
              li(ng-repeat="(key, value) in $ctrl.accessLevel.items")
                a(ng-bind="value" ng-click="$ctrl.user.available.profile = key")
          ul.nav.nav-pills.nav-stacked.collapsed-users(uib-collapse="!($ctrl.user.available.profile == '3')")
            li(ng-repeat="accessUser in $ctrl.user.available.accessUser | orderBy")
              span(ng-if="$ctrl.rmAccessUsers.indexOf(accessUser) < 0")
                a(ui-sref="userProfile({'userLogin': accessUser})" ng-bind="accessUser + ' '")
                i.fa.fa-times(ng-click="$ctrl.accessUser(accessUser)")
              a(role="cancel" ng-if="$ctrl.rmAccessUsers.indexOf(accessUser) >= 0" ng-bind="'восстановить'" ng-click="$ctrl.accessUser(accessUser)") 
          ul.nav.nav-pills.nav-stacked.collapsed-users(uib-collapse="!($ctrl.user.available.profile == '4')")
            li(ng-repeat="deniedUser in $ctrl.user.available.deniedUser | orderBy")
              span(ng-if="$ctrl.rmDeniedUsers.indexOf(deniedUser) < 0")
                a(ui-sref="userProfile({'userLogin': deniedUser})" ng-bind="deniedUser + ' '")
                i.fa.fa-times(ng-click="$ctrl.deniedUser(deniedUser)")
              a(role="cancel" ng-if="$ctrl.rmDeniedUsers.indexOf(deniedUser) >= 0" ng-bind="'восстановить'" ng-click="$ctrl.deniedUser(deniedUser)") 
      .submit-block
        button.btn.btn-success(type="submit" ng-click="$ctrl.saveChanges()") Save changes