.recipe-info-header
  .row
    .col-lg-7
      img.recipe-img(ng-src="{{vm.recipeImgAdr}}")
    .col-lg-5
      .block.recipe-info-block
        span.recipe-name {{vm.recipe.name}}
        .row
          .recipe-base-info-block
            .col-lg-4
              i.fa.fa-clock-o
              span {{vm.recipe.time + ' min'}}
            .col-lg-4
              i.fa.fa-users
              span 3 pers
            .col-lg-4
              .recipe-base-info-rating
                span(uib-rating ng-model="vm.recipe.rating" rating-states="vm.ratingStates")
        hr.separator
        a.recipe-author-block(href="{{'profile/' + 1}}")
          img(ng-src="{{vm.authorImgAdr}}")
          span Author's nickname

        hr.separator
        .recipe-energy-info
          span.recipe-enery-info-header Energy value
          .row
            .col-lg-3
              span calories<br>258<br>ccal
            .col-lg-3
              span proteins<br>258<br>mg
            .col-lg-3
              span fats<br>258<br>mg
            .col-lg-3
              span carbs<br>258<br>mg
  .recipe-info-description
  span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut, accusantium ea magnam! Similique praesentium excepturi laboriosam ad, culpa quaerat consequatur corporis voluptates in numquam. Dolor corporis cupiditate perspiciatis. Dolor!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere consequatur porro libero tempora ipsa sequi deserunt earum molestias ullam accusamus culpa dicta enim pariatur consequuntur voluptate nulla, rem minus mollitia sint in assumenda tempore quidem aliquam. Modi pariatur reprehenderit, ipsam nobis quasi illum, ad minus id enim nemo accusantium, blanditiis, eligendi quod. Blanditiis, nulla quia soluta aspernatur non, sunt ullam. Ex libero eius assumenda quo aperiam quos alias iste voluptatibus laborum repellendus vero recusandae, atque magnam voluptatum reiciendis corrupti, porro quisquam! Nisi illum vitae sint ut molestiae repudiandae ullam nemo consequuntur, at sed accusamus, animi. Sapiente iste blanditiis, ad doloribus laborum sequi unde, quas facilis voluptatem. Praesentium omnis quibusdam sunt temporibus, quas, odit quos! Error distinctio cupiditate, qui provident fuga fugit officiis aliquam quis, dignissimos natus labore consequatur. Praesentium fuga eligendi quasi nihil, eum hic a natus debitis modi. Provident rem excepturi sequi nemo molestiae doloribus, incidunt iusto harum voluptates odit impedit repudiandae esse adipisci voluptatum deleniti accusamus praesentium ratione, fugit ullam, tenetur labore sapiente. Enim nihil perspiciatis ex voluptatem. Perspiciatis eos consectetur aperiam necessitatibus, aspernatur, labore id facere dolorum temporibus molestiae assumenda inventore. Magni rerum tenetur asperiores ullam, saepe beatae necessitatibus molestiae dolor dolorem, quas odio ab eveniet amet porro enim dicta fuga fugiat autem quam quidem soluta possimus nam vel nisi. Inventore provident beatae, aliquam magni reprehenderit possimus eos eveniet laborum labore quia, consequuntur maiores et molestiae nisi, harum! Quam iste assumenda numquam fugit! Exercitationem, sit, nemo. Mollitia quia tenetur voluptate veritatis distinctio, sit obcaecati quis vero in quas iste repellat nesciunt voluptatum et repellendus, maxime at assumenda minima repudiandae voluptatibus doloremque excepturi officiis. Voluptates, impedit, odio. Ex perspiciatis provident sequi similique corporis nihil placeat quibusdam fugit hic optio quae molestiae assumenda natus nulla quo, atque illum esse fuga eius eum minima iusto odit minus adipisci. Nesciunt, vitae.