.row
  .col-lg-8.block
    span.settings-header Account
    span.settings-description login and email
    hr.deviver
    form(name="account" ng-submit="$ctrl.saveChanges()")
      form(name="login")
        span.form-name login
        .form-controls
          input.form-control(type="text" name="login" ng-model="$ctrl.user.login")
          span.form-sample this is your login
      form(name="email")
        span.form-name Email
        .form-controls
          input.form-control(type="email" name="email" ng-model="$ctrl.user.email")
          span.form-sample this is your email
      button.btn.btn-success.btn-submit(type="submit") Save changes
          
      