.row
  .col-lg-8.block
    span.settings-header General
    span.settings-description name and vse dela
    hr.deviver
    form(name="general" ng-submit="$ctrl.saveChanges()")
      form(name="name")
        span.form-name Name
        .form-controls
          input.form-control(type="text" name="name" ng-model="$ctrl.user.name")
          span.form-sample Jon
      form(name="lastname")
        span.form-name Last name
        .form-controls
          input.form-control(type="text" name="name" ng-model="$ctrl.user.lastname")
          span.form-sample Smith
      form(name="gender")
        span.form-name Gender
        .form-controls
          .btn-group
            label.btn.btn-primary(ng-bind="$ctrl.gender.items[2]" ng-model="$ctrl.user.gender" uib-btn-radio="1")
            label.btn.btn-primary(ng-bind="$ctrl.gender.items[1]" ng-model="$ctrl.user.gender" uib-btn-radio="2")
            label.btn.btn-primary(ng-bind="$ctrl.gender.items[3]" ng-model="$ctrl.user.gender" uib-btn-radio="3")
      form(name="datebirth")
        span.form-name Datebirth
        .form-controls
          input.form-control(type="text" name="name")
          span.form-sample 01.01.1995
      .submit-block
        .row
          .col-lg-6
            button.btn.btn-success.btn(type="submit" ng-click="$ctrl.saveChanges()") Save changes
          .col-lg-6
            rb-alert