.row
  .col-lg-8.block
    span.settings-header Social
    span.settings-description social web contacts
    hr.deviver
    form(name="social" ng-repeat="social in $ctrl.soc" ng-submit="$ctrl.saveChanges()")
      span.settings-section-header Social web links
      form(name="social.name")
        span.form-name(ng-bind="social.name")
        .form-controls
          input.form-control(type="text" name="social.name" ng-model="$ctrl.user.social[social.name]")
          span.form-sample(ng-bind="social.exampleUrl + $ctrl.facebook")
      button.btn.btn-success.btn-submit(type="submit") Save changes