.block
  .row
    .col-lg-10.col-lg-offset-1
      form.form-horizontal(name="formSI" ng-submit="$mdl.ok()")
        .row
          .form-group
            lable.control-label.col-lg-3 login
            .col-lg-9
              .row
                .col-lg-6
                  input.form-control(type="text" placeholder="login" autofocus name="login" ng-model="$mdl.login" ng-pattern="$mdl.regExp" ng-minlength="3" ng-maxlength="15" required)
                span(ng-if="!formSI.login.$pristine && formSI.login.$error.minlength") too small
                span(ng-if="!formSI.login.$pristine && formSI.login.$error.maxlength") too large
          .form-group
            lable.control-label.col-lg-3 password
            .col-lg-9
              .row
                .col-lg-6
                  input.form-control(type="password" placeholder="password" required name="password" ng-maxlength="15" ng-minlength="6" ng-model="$mdl.password" ng-pattern="$mdl.regExp")
                span(ng-if="!formSI.password.$pristine && formSI.password.$error.minlength") too small
                span(ng-if="!formSI.password.$pristine && formSI.password.$error.maxlength") too large
          .form-group
            lable.control-label.col-lg-3 email
            .col-lg-9
              .row
                .col-lg-6
                  input.form-control(type="email" placeholder="email" name="email" ng-model="$mdl.email" ng-minlength="10" ng-maxlength="35" required) 
                span(ng-if="!formSI.email.$pristine && formSI.email.$error.maxlength") TRY IT AGAIN, TRY IT AGAIN, AGAIN YOU MOTHERFUCKER
          span.err(ng-bind="$mdl.errMessage")
          button.btn.btn-primary.col-lg-2.col-lg-offset-3(type="submit" ng-disabled="formSI.$invalid") ok
          button.btn.btn-default.col-lg-2(type="button" ng-click="$mdl.close()") cancel
