.block
  .row
    .col-lg-8.col-lg-offset-2
      h3 Log in
      form
        input.form-control(type="text" placeholder="login" ng-model="$mdl.login" autofocus)
        input.form-control(type="text" placeholder="password" ng-model="$mdl.password")
        p.err {{$mdl.loginErr}}
        button.btn.btn-primary.col-lg-2.col-lg-offset-8( type="submit" ng-click="$mdl.ok()") ok
        button.btn.btn-default.col-lg-2(ng-click="$mdl.close()") close


