.row
  .col-lg-8.block
    span.settings-header Password
    span.settings-description password and vse dela
    hr.deviver
    form.higest-form(name="actingPassword")
      span.form-name Acting password
      .form-controls
        input.form-control(type="text" name="actingPassword" ng-model="$ctrl.password")
        span.form-sample Enter your acting password
    hr.deviver
    form(name="newPassword" ng-submit="$ctrl.saveChanges()")
      form(name="newPassword")
        span.form-name New password
        .form-controls
          input.form-control(type="text" name="newPassword" ng-model="$ctrl.newPassword")
          span.form-sample Enter new password
      form(name="confirmedPassword")
        span.form-name Comfirm password
        .form-controls
          input.form-control(type="text" name="confirmedPassword" ng-model="$ctrl.confirmedPassword")
          span.form-sample Confirm your password
      button.btn.btn-submit.btn-success(type="submit") Save changes