.navbar.navbar-default(ng-controller="headerCtrl as $header")
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref="home") RecipeBook
    ul.nav.navbar-nav
      li
        a(ui-sref="catalog") catalog
      li
        a(href="#") chto-to
      li
        form.navbar-form
          .input-group.header-input-group
            input.form-control(type="text" placeholder="Search")
            span.input-group-btn
              button.btn.btn-default(type="submit") Go!
    ul.nav.navbar-nav.navbar-right
      li
        .navbar-form
          button.btn.btn-primary(type="button" ng-if="$header.user")
            span(ng-bind="'Add Recipe'")
      li.header-log(ng-if="!$header.user")
        a(href ng-click="$header.modalSignInOpen()" ng-if="!$header.user") 
          i.fa.fa-sign-in.fa-lg(aria-hidden="true")
          span(ng-bind="' SignIn'")
      li.header-log
        a(href ng-click="$header.modalLogInOpen()" ng-if="!$header.user") 
          i.fa.fa-sign-in.fa-lg(aria-hidden="true")
          span(ng-bind="' LogIn'")
      li.dropdown.header-log(uib-dropdown on-toggle="toggled(open)" ng-if="$header.user")  
        a(href id="simple-dropdown" uib-dropdown-toggle) 
          i.fa.fa-user.fa-lg(aria-hidden="true")
          span(ng-bind="' ' + $header.user.name + ' '")
          i.fa.fa-caret-down(aria-hidden="true")
        ul(uib-dropdown-menu)
          li(ng-if="$header.isAdmin")
            a(href="#") Admin
          li
            a(ui-sref="myProfile") Profile
          li
            a(ui-sref="general") Settings
          li
            a(href="#") My recipes
          li
            a(href="#") Bookmarks
          li.divider(role="separator")
          li
            a(href="#" ng-click="$header.logOut()") Выход