span.not-found(ng-if="vm.user.success === false") User not found
form.row(name="profile" ng-submit="vm.saveChanges()" ng-if="vm.user.success === undefined")
  .col-lg-3
    .block
      img.profile-author-img(ng-src="{{vm.authorImgAdr}}")
      .btn-profile-edit.btn.btn-primary(type="button" ng-if="!vm.editMod && vm.state.current.name == 'myProfile'" ng-click="vm.changeEditMod()") Edit profile 
      .row(ng-if="vm.editMod")
        .col-lg-7.btn-profile-edit-ok-container
          button.btn-profile-edit.btn.btn-primary(type="submit" ng-disabled="profile.$invalid") Save changes
        .col-lg-5
          button.btn-profile-edit.btn.btn-warning(type="button" ng-click="vm.changeEditMod()") Cancel
  .col-lg-9
    .block(ng-if="!vm.editMod")
      h2.profile-author-info-name(ng-bind="vm.user.login")
      hr.separator
      h4 rating 
        span 2543
      h4 registered 
        span(ng-bind="vm.user.registered")
      h4 add posts 
        span 2561
      h4 из них в топе 
        span(ng-bind="vm.test")
      h4 пол 
        span(ng-bind="vm.user.gender")
      h4 имя 
        span(ng-bind="vm.user.name")
      h4 фамилия 
        span(ng-bind="vm.user.lastname")
      h4 ютуб и т.д. 
        span кнопки
    .block(ng-if="vm.editMod")
      .row
        .col-lg-6.vertical-divider
          span.red-profile-infos-header login
          input.form-control(type="text" name="login" autofocus ng-model="vm.user.login" ng-pattern="vm.regExp" ng-minlength="3" ng-maxlength="15")
          span.red-profile-infos-header email
          input.form-control(type="email" name="email" ng-model="vm.user.email" min-length="10" ng-maxlength="35")
          span.red-profile-infos-header addUser
          input.form-control(ng-model="vm.user.addUser")
          .btn.btn-primary(ng-click="vm.addUser11(vm.user.addUser)") addUser
          span.red-profile-infos-header removeUser
          input.form-control(ng-model="vm.user.removeUser")
          .btn.btn-primary(ng-click="vm.removeDeniedUser11(vm.user.removeUser)") removeUser
        .col-lg-6
          span.red-profile-infos-header new password
          input.form-control(type="password" name="password" ng-model="vm.user.password" ng-pattern="vm.regExp" ng-minlength="6" ng-maxlength="16")
          span.red-profile-infos-header confirm password
          input.form-control(type="password" name="confirmedPassword" ng-pattern="'(' + vm.user.password + ')'" ng-model="vm.user.confirmedPassword")
      hr
      .row
        .col-lg-6.vertical-divider
        .col-lg-6
          span.red-profile-infos-header profile access level 
          .btn-group.access-level-dropdown(uib-dropdown)
            .btn.btn-default.btn-access-level(uib-dropdown-toggle)
              span(ng-bind="vm.accessLevel.items[vm.user.available.profile] + ' '")
              span.caret
            ul.dropdown-menu(uib-dropdown-menu)
              li(ng-repeat="(key, value) in vm.accessLevel.items")
                a(ng-bind="value" ng-click="vm.user.available.profile = key")
          ul.nav.nav-pills.nav-stacked.collapsed-users(uib-collapse="!(vm.user.available.profile == '3')")
            li(user-info="{{accessUser}}" ng-repeat="accessUser in vm.user.available.accessUser | orderBy")
              a(ng-if="vm.rmAccessUsers.indexOf(accessUser) < 0")
                a(ui-sref="userProfile({'userLogin': accessUser})" ng-bind="accessUser + ' '")
                i.fa.fa-times(ng-click="vm.accessUser(accessUser)")
              a(role="cancel" ng-if="vm.rmAccessUsers.indexOf(accessUser) >= 0" ng-bind="'восстановить'" ng-click="vm.accessUser(accessUser)") 
          ul.nav.nav-pills.nav-stacked.collapsed-users(uib-collapse="!(vm.user.available.profile == '4')")
            li(user-info="{{deniedUser}}" ng-repeat="deniedUser in vm.user.available.deniedUser | orderBy")
              a(ng-if="vm.rmDeniedUsers.indexOf(deniedUser) < 0")
                a(ui-sref="userProfile({'userLogin': deniedUser})" ng-bind="deniedUser + ' '")
                i.fa.fa-times(ng-click="vm.deniedUser(deniedUser)")
              a(role="cancel" ng-if="vm.rmDeniedUsers.indexOf(deniedUser) >= 0" ng-bind="'восстановить'" ng-click="vm.deniedUser(deniedUser)") 
      hr
      span.red-profile-infos-header(ng-click="vm.collapseSocial()")
        span social network 
        i.fa(ng-class="vm.collapsedClass")
      .row(uib-collapse="vm.isCollapsedSocial")
        .collapsed-social
          .col-lg-4
            .row
              .col-lg-2
                i.fa.fa-vk
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.vk")
            .row
              .col-lg-2
                i.fa.fa-facebook-official
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.fb")
          .col-lg-4
            .row
              .col-lg-2
                i.fa.fa-twitter
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.tw")
            .row
              .col-lg-2
                i.fa.fa-youtube
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.yt")
          .col-lg-4
            .row
              .col-lg-2
                i.fa.fa-instagram
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.ig")
            .row
              .col-lg-2
                i.fa.fa-google-plus
              .col-lg-10
                input.form-control(type="text" ng-model="vm.user.gp")
      hr
.recipes-block

