.user-info
  ng-transclude
  .popup(ng-if="data.user && data.hide")
    img.avatar(src="https://pp.vk.me/c626426/v626426312/25b03/zoxip8adOZo.jpg")
    .info-block
      span(ng-bind="data.user.login")
      span(ng-if="data.user.hide") Profile is hide
      div(ng-if="!data.user.hide")
        span(ng-bind="'name: ' + data.user.name") name
        br
        //- span(ng-bind="'recipe's number: ' + user.recipesNumber")
        //- br
        span(ng-bind="'last login: ' + data.user.lastLogin")
  