.user-info
  .avatar
    width: 7.5rem
    float: left
    height: 7.5rem
    border-radius: 50%
  .popup
    position: fixed
    background: #ccc
    bottom: 2.3rem
    left: 0
    width: 30rem
    height: 7.5rem
  .info-block
    float: left
    padding-left: 1rem
    width: 21.5rem