doctype html
html(ng-app="app")
  head
    base(href="/")
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/style.css")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      ui-view
    script(src="js/bundle.js")