.settings-header
  color: #777
  display: block
  font-size: 3rem
  line-height: 3rem

.settings-description
  color: #bbb
  font-size: 1.8rem
  line-height: 1.8rem

.settings-section-header
  color: #333
  display: block
  margin-bottom: 1.5rem
  font-size: 2.4rem
  line-height: 2.4rem

.higest-form
  display: inline-block
  margin-bottom: -1.5rem
  width: 100%

.form-name
  color: #777
  display: inline-block
  font-size: 1.4rem
  line-height: 3.4rem
  text-align: right
  vertical-align: top
  float: left
  width: 30%
  padding: 0 2rem

.form-controls
  float: left
  width: 70%
  margin-bottom: 1.5rem

.form-control
  width: 70%

.form-sample
  font-size: 1.4rem
  color: #bbb

.deviver
  margin: 1.5rem -1.5rem

.submit-block
  margin-left: 30%

.nav-link
  display: block
  padding: -0.6rem -1.2rem