.row
  .col-lg-3
    ul.nav.nav-pills.nav-stacked
      label.btn(uib-uncheckable="uncheckable" ng-model="vm.catOf" uib-btn-radio="'account'")  
        a.nav-link(ui-sref="account") Account 
    ul.nav.nav-pills.nav-stacked
      label.btn(uib-uncheckable="uncheckable" ng-model="vm.catOf" uib-btn-radio="'general'")  
        a.nav-link(ui-sref="general") General 
    ul.nav.nav-pills.nav-stacked
      label.btn(uib-uncheckable="uncheckable" ng-model="vm.catOf" uib-btn-radio="'security'")  
        a.nav-link(ui-sref="security") Security and privacy
    ul.nav.nav-pills.nav-stacked
      label.btn(uib-uncheckable="uncheckable" ng-model="vm.catOf" uib-btn-radio="'password'")
        a.nav-link(ui-sref="password") Password
    ul.nav.nav-pills.nav-stacked
      label.btn(uib-uncheckable="uncheckable" ng-model="vm.catOf" uib-btn-radio="'social'")  
        a.nav-link(ui-sref="social") Social
  .col-lg-9
    ui-view