@import 'node_modules/bootstrap/dist/css/bootstrap'
@import 'node_modules/font-awesome/scss/font-awesome'

*
  &:focus
    outline: 0
  box-sizing: border-box
  text-decoration: none
  margin: 0

html
  font-size: 10px
  font-family: helvetica

body
  background: #edeef0

a 
  text-decoration: none;

p 
  display: inline-block;

.block
  background: #f8f8f8
  border: 1px solid #e7e7e7
  border-radius: 2px
  padding: 1.5rem
  input, .btn-group
    margin-bottom: 0.7rem

.separator
  border-top: 1px solid #ccc

// HEADER

.header-log
  vertical-align: middle

.navbar
  border-radius: 0.2rem
  margin-bottom: 1.5rem

.left-menu
  padding: 0

.nav-stacked 
  border-radius: 0.2rem
  padding-left: 0
  a
    padding: 0.6rem 1.2rem
    text-decoration: none
  label 
    background: #f8f8f8
    border: 1px solid #e7e7e7
    border-radius: 0.2rem
    cursor: pointer
    display: block
    padding: 0
    text-align: left
    margin-bottom: 0.4rem
  .btn.active
    background: steelblue
    border-color: steelblue
    box-shadow: none
    a
      color: #fff

.badge
  float: right;

.nav-stacked
  .active
     .badge
        color: #fff
        background: #777


.filters-bar
  padding-right: 0

.filters-bar label
  background: #f8f8f8;
  border: 1px solid #e7e7e7
  border-radius: 0.2rem;
  margin-right: 0.5rem

.filters-bar .btn.active
  background: steelblue
  border-color: steelblue
  box-shadow: none
  color: #fff

.content-box
  padding-right: 0;
  padding-left: 0;


/*catalog-item*/

.item-container
  padding-right: 0

.catalog-item-border-box 
  box-shadow: 0.3rem 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 0.6rem;

.catalog-item 
  background: url(../tmp/main/catalog/pizza.jpg) center;
  border-radius: 0.2rem;
  border: 1px solid #e7e7e7
  box-shadow: inset 0 7.5rem 7rem rgba(256,256,256,1); 
  color: white;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  text-shadow: black 0 0 0.3rem;
  height: 18rem;
  margin-top: 1.5rem;

.catalog-item-name 
  line-height: 5rem;
  display: block;
  color: #fff
  font-size: 3.6rem;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-top: 1rem;
  margin-top: 0.5rem;
  height: 13rem;

.catalog-item-name:hover
  text-decoration: none;
  color: #fff

.dotted
  border-bottom: 1px dashed white
  cursor: pointer

.panel-default
  border-radius: 0.3rem

.well
  padding: 0
  margin: 0

.item-ing
  display: inline-block
  padding: 0.3rem 0 0.3rem 0.8rem

.item-ing label
  background: #ccc
  color: #555
  padding: 0 0.8rem

.ingOfRecipe-edit-button 
  background: white;
  border-radius: 50%;

// loginModal

.main-head
  margin-bottom: 3rem;

.err
  color: red;
  float: right;

// recipesPage

.recipe-img
  border-radius: 0.2rem
  height: 39.2rem
  width: 100%

.recipe-info-block
  color: #777
  font-size: 2.4rem
  
.recipe-name
  display: inline-block
  font-size: 3rem

.recipe-base-info-block
  span
    padding-left: 0
  i
    margin-right: 0.7rem

.recipe-base-info-rating
  span
    color: gold
    i
      font-size: 1.8rem
      cursor: pointer
      margin-right: 0

.recipe-author-block
  display: block
  margin: -2rem 0
  padding: 2rem 0
  &:hover
    text-decoration: none
  img
    border-radius: 50%
    margin-right: 1.5rem
    width: 50px
    height: 50px
  span
    color: #777

.recipe-energy-info
  display: block
  font-size: 1.8rem
  text-align: center
  width: 100%
  span
    line-height: 3.6rem

.recipe-enery-info-header
  display: block
  font-size: 2.4rem
  text-align: center
  margin-bottom: 1rem
  width: 100%

  // profilePage

.profile-author-img
  border-radius: 2px;
  width: 100%

.btn-profile-edit
  font-size: 1.8rem
  margin-top: 1.5rem
  padding: 0.8rem
  width: 100%

.btn-profile-edit-ok-container
  padding-right: 0

.profile-author-info-name
  margin-top: 0

.vertical-divider
  border-right: 1px solid #e7e7e7

input.ng-invalid-pattern
  border: red
  box-shadow: 0 0 1px 2px rgba(255,0,0,0.3)  

.red-profile-infos-header
  display: block
  font-size: 1.8rem

.collapsed-social
  margin: 0
  background-color: #f8f8f8
  border: 0
  border-radius: 0
  box-shadow: none
  i
    vertical-align: middle
    font-size: 3.4rem

.dropdown-menu
  li
    cursor: pointer

.btn-access-level
  display: inline-block
  text-align: left
  width: 100%

.access-level-dropdown
  width: 100%

.collapsed-users
  list-style: none
  a
    color: #333
    font-size: 1.8rem
    text-decoration: none
    vertical-align: middle
    &[role="cancel"]
      cursor: pointer
  i
    cursor: pointer
  .fa-times
    color: #777

